:root {
  --shade: #34344a;
  --accent: #b80c09;
  --front: #fbfbfb;
  --secondary: #c4c4c4;
  --highlight: #0019ff;
  --text-l: #ffffffee;
  --text-d: #000000dd;
  --font: Arial, Helvetica, sans-serif;
}
