:root {
    --shade: #34344A;
    --accent: #B80C09;
    --front: #E5E7E6;
    --secondary: #C4C4C4;
    --highlight: #0019FF;
    --text-l: #ffffffee;
    --text-d: #00000055;
    --font: Arial, Helvetica, sans-serif;
}